/* cara menghubungkan css dan html dengan cara eksternal */
h1{
  background-color: #e91e63;
}
/* selector berdasarkan nama element */
h4{
  background-color: #f48fb1;
}
/* selector berdasarkan id */
#judul{
  background-color: #f8bbd0;
}
/* selector berdasarkan class */
.belajar{
  background-color: #fce4ec;
}
/* selector dengan beberapa element */
h6.bel, p{
  background-color: #ffebee;
}

/* didalam selector berdasarkan id yaitu warna ini, COLOR adalah PROPERTY dan purple adalah valuenya */
#warna{
  color: purple;
}
h3{
  color: #ab47bc;
}
